/*-----main text------*/
.info_wrap {
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: -1;
	width: 100%;
    height: 100%;
    top: 0px;
    background-color: white;
    min-height: 100%;
    background-position: center;
    background-size: cover;
    flex-flow: column;
}
.info{
	text-align: center;
	margin-bottom: 30px;
}
.info_text{
	color: black;
	font-size: 2.5em;
	word-break: break-all;
	font-weight: 300;
	font-family: 'Merriweather', serif;
}
.info_line {
	background-color: black;
    width: 2px;
    height: 50px;
    margin: 0 auto;
}


/*-------scroll 2-------*/
.sc2_wrap {
	background-image: url("../img/sc2.png");
    min-height: 100%;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}
.sc_title {
	color: white;
	font-size: 2em;
	font-weight: bold;
	margin: 250px 0;
}
.sc_btn {
	border: 1px solid white;
    color: white;
    padding: 6px 17px;
    font-size: .9em;
    letter-spacing: 2px;
    font-weight: 400;
    border-radius: 2px;
    margin: 0px 41%;
}
.sc_content {
	color: white;
	font-size: .5em;
	font-weight: 400;
	margin-top: 30px;
}

/*-------scroll 3-------*/
.sc3_wrap {
	background-image: url("../img/sc5.jpg");
    min-height: 100%;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

/*-------scroll 4-------*/
.sc4_wrap {
	background-image: url("../img/sc4.jpg");
    min-height: 100%;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}