<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 다른 mapper와 중복되지 않도록 네임스페이스 기재 -->
<mapper namespace="member">
	<select id="idCheck" parameterType="String" resultType="int">
		SELECT COUNT(id) FROM tbl_sa_member
		WHERE id = #{id}
	</select>
	
	<insert id="create" parameterType="com.sapum.domain.member.MemberDTO">
		INSERT INTO tbl_sa_member(id, pw, name, email, phone)
		VALUES (#{id}, #{pw}, #{name}, #{email}, #{phone})
	</insert>
	
	<select id="login" parameterType="com.sapum.domain.member.MemberDTO" resultType="String">
		SELECT name FROM tbl_sa_member
		WHERE id = #{id}
		AND pw = #{pw}
	</select>
</mapper>