/*-------회원가입---------*/
.join_wrap {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 90%;
}
.join { 
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.jo_title {
	font-size: 1em;
	padding: 70px 0;
}
.join_frm {
	display: flex;
	flex-flow: column;
	align-items: center;
}
.terms_wrap {
	display: flex;
	line-height: 17px;
	margin-top: 80px;
}
.terms {
	font-size: 1em;
	text-align: left;
	letter-spacing: -0.3px;
	font-size: .8em;
}
.ck_off {
	color: #dadada;
	padding: 10px 10px 10px 0;
	font-size: 1em;
}
.ck_off:hover {
	color: #70D6C7;
	cursor: pointer;
	transition: .3s;
	font-size: 1em;
}
.ck_on {
	color: #70D6C7;
	cursor: pointer;
	display: none;
	padding: 10px 10px 10px 0;
}
.tr1 {
	text-decoration: underline;
	font-weight: 500;
}
.join_btn {
	margin-top: 30px;
	margin-bottom: 100px;
	font-size: 13px;
	font-weight: lighter;
	background-color: #dadada;
	border-radius: 2px;
	width: 250px;
	height: 35px;
	color: white;
	cursor: not-allowed;
}
.join_btn:hover {
	background-color: #70D6C7;
	transition: .3s;
}
.err_msg_eq {
	width: 100%;
	height: auto%;
	font-size: .8em;
	font-weight: bold;
	color: tomato;
	text-aline: right;
}







/*----회원탈퇴-----*/
.box {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 200px;
	height: 300px;
	border: 1px solid black;
	border-radius: 2px;
	padding: 0 20px;
}

.box h3 {
	text-align: center;
	font-size: 17px;
	color: tomato;
	margin-bottom: 15px;
	letter-spacing: -1px;
}
.delete_text {
	font-size: 11px;
	text-align: left;
	font-weight: bold;
}
.pl_msg {
	margin: 30px 0;
	font-size: 11px;
	font-weight: bold;
}
.err_msg_eq {
	font-size: 
}

/*----회원탈퇴시 나오는 모달창----*/
.de_modal {
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, .6);
	z-index: 5;
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 0;
}
.de_modal_box {
	width: 300px;
	height: 420px;
	background-color: white;
	border-radius: 2px;
	margin: 0  auto;
}
.de_modal_wrap{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column;
}
.lo_modal_close {
	margin-top: 50px;
	cursor: pointer;
	color: #afafaf;
}
.lo_modal_close:hover {
	transition: .3s;
	color: #70D6C7;
	cursor: pointer;
}
.de_modal_title {
	padding: 30px 0;
	font-size: 1.7em;
	color: #212121;
}
.mem_ipstyle {
	padding: 5px 0;
    width: 250px;
    height: 100%;
    font-size: .7em;
}
.mem_ipborder {
    padding: 10px 0;
    border-bottom: 1px solid #dadada;
    width: 100%;
    margin: 10px 0;
}
.de_btn_wrap {
	display: flex;

}
.de_btn {
	margin: 10px 10px;
	font-size: 13px;
	font-weight: lighter;
	background-color: #dadada;
	border-radius: 2px;
	width: 100px;
	height: 35px;
	cursor: pointer;
	color: white;
}
.de_yes{
	background-color: #70D6C7;
}
.de_icon {
	margin-bottom: 10px;
	color: #70D6C7;
	font-size: 5em;
}



/*----------Find Account---------*/
.find_all {
	display: flex;
	flex-flow: column;
}
.find_title {
	color: #5D5D5D;
	width: auto;
	padding: 10px;
	display: inline-block;
	margin-bottom: 40px;
    font-size: .9em;
    font-weight: bold;
    padding: 3px;
}
/*id 찾았을 때 뜨는 모달창*/
.modal_box {
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
}
.id_mo_box {
	width: 300px;
	height: 200px;
}
.id_modal_close {
	margin-top: 0;
}
.id_te {
	padding: 15px;
	font-size: 1.2em;
	font-weight: 400;
	color: #5D5D5D;
}
.find_user {
	color: #70D6C7;
}
