html, body { width: 100%; height: 100%; }
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{
	margin: 0;
	padding: 0;
}
body {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-family: 'Noto Sans HK', sans-serif;
	font-weight: 300;
}
ul, li { list-style: none; }
a {
	color: inherit;
	text-decoration: none;
}
button {
	border: none;
	background: none;
}
input {
	border: none;
	display: block;
}
@media ( max-width: 980px ) {
  body { width: auto; }
}
header {
	position: fixed !importent;
	table-layout:fixed !importent;
	z-index: 5;
}
*:focus {
	outline: none;
}