<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="board">
	<sql id="search">
		<choose>
			<when test="search_option != 'all'">
				<if test="search_option == 'title'">
					AND title LIKE #{keyword}
				</if>
				<if test="search_option == 'writer'">
					AND writer LIKE #{keyword}
				</if>
				<if test="search_option == 'content'">
					AND content LIKE #{keyword}
				</if>
			</when>
			<otherwise>
				WHERE b.writer = m.id
				AND (writer LIKE #{keyword}
					 OR title LIKE #{keyword}
					 OR content LIKE #{keyword})
			</otherwise>
		</choose>
	</sql>
	<!-- 레코드 갯수 계산 -->
	<select id="countArticle" parameterType="HashMap" resultType="int">
		SELECT COUNT (*)
		FROM tbl_sa_board b, tbl_sa_member m
		<include refid="search"/>
	</select>
</mapper>